.address-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.address-label {
    margin: 5px;
    padding: 7px;
    box-shadow: 1px 1px 5px grey;
}

p {
    margin: 0;
    padding: 0;
}

p.name {
    font-weight: bold;
}